* {
	box-sizing: border-box;
}
body {
	margin: 0px;
	font-family: MontserratLight;
	color: #4c4c4c;
}
section {
	padding: 20px 0px 0px;
	margin-top: 20px !important;
}
.half {
	width: 48%;
}
.quarter {
	width: 24%;
}
footer {
	background-color: #303030;
	color: #adadad;
	padding-bottom: 50px;
}
footer > div {
	background-color: #303030;
	display: flex;	
}

hr.hr1 {
	border: none;
	background-color: #f1f1f1;
	height: 1px;
	margin: 0px;
}
hr.hr2 {
	border: 2px solid #f1f1f1;
	height: 0px;
	width: 100px;
}
hr.hr3 {
	border: none;
	background-color: #292929;
	height: 1px;
	margin: 0px;
	width: 100%;
}

a, a:visited {
	text-decoration: none;
	color: inherit;
}
nav ul a, nav ul a:visited {
	color: #4c4c4c;
}

.mainContainer {
	width: 992px;
	margin: auto;
}

.flex {
	display: flex;	
}
.flex-sb {
	justify-content: space-between;
}
.flex-sa {
	justify-content: space-around;
}
.flex-wrap {
	flex-wrap: wrap;
}
.flex-center {
	justify-content: center;
}
.flex-middle {
	flex-direction: column;
	justify-content : center;
}
.text-center {
	text-align: center;
}
.hide {
	display: none;
}
.show {
	display: block;
}
.showOnMobile {
	display: none;
}	
@media (max-width: 992px) {
	.mainContainer {
		width: 90%;
		margin: auto;
	}
	.half, .quarter {
		width: 100%;
	}
	.hideOnMobile {
		display: none;
	}	
	.showOnMobile {
		display: inherit;
	}	
	
}