@font-face {
  font-family: MontserratBlack;
  src: url('../fonts/montserrat/Montserrat-Black.otf');
}
@font-face {
  font-family: MontserratBold;
  src: url('../fonts/montserrat/Montserrat-Bold.otf');
}
@font-face {
  font-family: MontserratHairline;
  src: url('../fonts/montserrat/Montserrat-Hairline.otf');
}
@font-face {
  font-family: MontserratLight;
  src: url('../fonts/montserrat/Montserrat-Light.otf');
}
@font-face {
  font-family: MontserratRegular;
  src: url('../fonts/montserrat/Montserrat-Regular.otf');
}

/*/
@font-face {
  font-family: RobotoBlack;
  src: url('../fonts/roboto/Roboto-Black.ttf');
}
@font-face {
  font-family: RobotoBlackItalic;
  src: url('../fonts/roboto/Roboto-BlackItalic.ttf');
}
/*/
@font-face {
  font-family: RobotoBold;
  src: url('../fonts/roboto/Roboto-Bold.ttf');
}
/*/
@font-face {
  font-family: RobotoBoldCondensed;
  src: url('../fonts/roboto/Roboto-BoldCondensed.ttf');
}
@font-face {
  font-family: RobotoBoldCondensedItalic;
  src: url('../fonts/roboto/Roboto-BoldCondensedItalic.ttf');
}
@font-face {
  font-family: RobotoBoldItalic;
  src: url('../fonts/roboto/Roboto-BoldItalic.ttf');
}
@font-face {
  font-family: RobotoCondensed;
  src: url('../fonts/roboto/Roboto-Condensed.ttf');
}
@font-face {
  font-family: RobotoCondensedItalic;
  src: url('../fonts/roboto/Roboto-CondensedItalic.ttf');
}
@font-face {
  font-family: RobotoItalic;
  src: url('../fonts/roboto/Roboto-Italic.ttf');
}
/*/
@font-face {
  font-family: RobotoLight;
  src: url('../fonts/roboto/Roboto-Light.ttf');
}
/*/
@font-face {
  font-family: RobotoLightItalic;
  src: url('../fonts/roboto/Roboto-LightItalic.ttf');
}
/*/
@font-face {
  font-family: RobotoMedium;
  src: url('../fonts/roboto/Roboto-Medium.ttf');
}
/*/
@font-face {
  font-family: RobotoMediumItalic;
  src: url('../fonts/roboto/Roboto-MediumItalic.ttf');
}
/*/
@font-face {
  font-family: RobotoRegular;
  src: url('../fonts/roboto/Roboto-Regular.ttf');
}
@font-face {
  font-family: RobotoThin;
  src: url('../fonts/roboto/Roboto-Thin.ttf');
}
/*/
@font-face {
  font-family: RobotoThinItalic;
  src: url('../fonts/roboto/Roboto-ThinItalic.ttf');
}
/*/
