header #topInfo {
	font-family: RobotoRegular;
	height: 50px;
}
header #promo {
	font-size: 9pt;
}
header #kontak {
	font-size: 11pt;
	font-family: RobotoRegular;
	padding-top: 15px;
}
header #kontak > div{
	margin-left: 10px;
}
header #kontak i {
	vertical-align: middle;
	padding: 0px 10px;
}
header #kontak #member {
	position: relative;
	top: -3px;
}
header #kontak #member i {
	font-size: 20pt;
	padding-right: 0px;
}
header .ribbon {
	background-color: #0090ef;
	font-size: 10pt;
	color: white;
	width: 40px;
	height: 40px;
	text-align: center;
	padding-top: 5px;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 15px solid white;
}
header .ribbon #content {
	position: relative;
	left: -5;
}
header .ribbonText {
	padding: 10px;
}
header #mainHeader {
	padding: 10px 0 20px;
}
header ul li {
	display:inline;
	font-family: RobotoRegular;
	font-size: 12pt;
	margin-right: 10px;
}
header ul li:last-child {
	margin-right: 0px;
}

.title1 {
	font-family: MontserratBold;
	font-size: 24pt;
}
.title2 {
	font-family: MontserratLight;
	font-size: 22pt;
	margin-top: 10px;
}
.title3 {
	font-family: MontserratLight;
	font-size: 20pt;
}
.title3 strong {
	font-family: MontserratBold;
	font-size: 20pt;
}
.title4 {
	font-family: MontserratLight;
	font-size: 24pt;
}
.title5 {
	font-family: RobotoLight;
	font-size: 20pt;
}
.title5 strong {
	font-family: RobotoBold;
	font-size: 20pt;
}
div.divider {
	background-color: #f1f1f1;
	width: 1px;
	opacity: 0.2;
}
.roundButton {
	border: 3px solid white;
	border-radius: 25px;
	padding: 10px 20px;
	width: 200px;
	text-align: center;
	font-family: MontserratBold;	
	font-size: 12pt;
	margin: 5px auto;
	display:flex;
	flex-direction: column;
	justify-content: center;
}
.roundButton:hover {
	cursor: pointer;
	transition: all 0.3s;
}
.roundButton.gray {
	border-color: #767676;
}
.roundButton.gray:hover {
	background-color: #767676;
	color: white;
}
.roundButton.blue {
	border-color: #00a2f3;
	background-color: #00a2f3;
	color: white;
}
.roundButton.blue:hover {
	background-color: white;
	color: #00a2f3;
}
.roundButton.blue2 {
	border-width: 2px;
	border-color: white;
	background-color: #00a2f3;
	color: white;
	font-family: MontserratLight;	
}
.roundButton.blue2:hover {
	background-color: white;
	color: #00a2f3;
}



section div.title{
	font-size: 16pt;
	font-family: MontserratLight;
}
img {
	width: 250px;
}
i.check {
	color: #00b348;
}

section#banner ul {
	padding: 0px;
	list-style: none;
}
section#banner ul li {
	padding: 10px 0px;
}
section#banner ul li i {
	font-size: 16pt;
	margin-right: 10px;
	vertical-align: middle;
}
section#features img {
	width: 100px;
}
section#composer {
	padding: 20px;
}
section#composer > div {
	align-items: flex-end;
	text-align: center;
}
section#composer div.quarter {
	margin-top: 40px;
}
section#composer div#zendguard img{
	width: 220px;
	padding-bottom: 60px;
}
section#composer div#composer img {
	width: 130px;
	padding-bottom: 20px;
}
section#composer div#ioncube img {
	width: 220px;
	padding-bottom: 60px;
}
section#pricing {
	margin-top: 50px !important;
}

section#package {
	margin-top: 50px !important;
}
section#package .paket {
	text-align: center;
	font-size: 10pt;
}
section#package .paket .bestseller {
	position: relative;
	padding: 0px;
}
section#package .paket .bestseller img {
	width: 90px;
	position: absolute;
	top: -5px;
	left: -5px;
}
section#package .paket .roundButton {
	margin: 25px auto;
	height: 50px;
	font-size: 11pt;
	width: 150px;
}
section#package .paket i.fas {
	color: #008fee;
}
section#package .paket div {
	padding: 5px;
}
section#package .paket strong {
	font-family: MontserratRegular;
}
section#package .paket .title {
	border:1px solid #f1f1f1;
	font-family: MontserratBold;
	font-size: 18pt;
}
section#package .paket .price {
	border:1px solid #f1f1f1;
	font-size: 10pt;
}
section#package .paket .price .disc {
	font-family: MontserratRegular;
	font-size: 14pt;
	display: flex;
	justify-content: center;
}
section#package .paket .price .disc strong {
	font-family: MontserratBold;
	font-size: 36pt;
	margin-left: 5px;
	margin-top: -10px;
}
section#package .paket .price .disc span {
	font-family: MontserratBold;
}
section#package .paket .user {
	border:1px solid #f1f1f1;
}
section#package .paket .desc {
	border:1px solid #f1f1f1;
}

section#package .paket.best .title {
	border:1px solid #008fee;
	background-color: #008fee;	
	color: white;
}
section#package .paket.best .price {
	border:1px solid #008fee;
	background-color: #008fee;	
	color: white;
}
section#package .paket.best .user {
	border:1px solid #008fee;
	background-color: #007fde;
	color: white;
}
section#package .paket.best .desc {
	border:1px solid #008fee;
}

section#spec {
	margin-top: 50px !important;
	padding-bottom: 20px;
}
section#spec > div{
	margin-bottom: 20px;
}
section#spec .rows{
	width: 450px; 	
	padding: 0px 10px;
	font-size: 11pt;
}
section#spec .rows > div {	
	padding: 10px;
}
section#spec .rows .oddRow {
	border: 1px solid #f7f7f7; 
	background-color: #ffffff;
}
section#spec .rows .evenRow {
	border: 1px solid #f7f7f7; 
	background-color: #f7f7f7;
}
section#spec .rows .check {
	color: 00b348;
	font-size: 14pt;
	width: 40px;
	text-align: center;
}
section#spec .rows .text {
	text-align: center;
	width: 100%;
}
section#features {
	padding-bottom: 10px;
}
section#features .item {
	width: 350px;
	padding: 30px 0px;
	margin: auto;
}
section#features .item img {
	width: 65px;
	margin-bottom: 20px;
}
section#features .item .title {
	font-family: MontserratBold;
	font-size: 14pt;
}
section#features .item .text {
	font-family: MontserratLight;
	font-size: 11pt;
}

section#laravel .title4 {
	margin-bottom: 25px;
}
section#laravel .text {
	margin-bottom: 50px;
	line-height: 20pt;
}
section#laravel .text strong {
	font-family: MontserratRegular;
}
section#laravel .text ul {
	list-style: none;
	padding-left: 0px;
}
section#laravel .text i {
	color: #00b348;
	margin-right: 5px;
}
section#laravel .text p {
	font-size: 8pt;
}
section#laravel .roundButton {
	margin: 0px;
}
section#laravel .image{
	display:flex;
	flex-direction: column;
	justify-content: flex-end;
}
section#modules .container {
	display: flex;
	margin: 50px auto;
	line-height: 18pt;
}

section#hosting {
	padding-top: 100px;
}
section#hosting .text{
	margin: 20px 0;	
	font-family: RobotoLight;
	line-height: 18pt;
}
section#hosting .text strong{
	font-family: RobotoBold;
}
section#hosting .image{
	display:flex;
	flex-direction: column;
	justify-content: flex-end;
}
section#hosting .roundButton {
	margin: 30px 0px;
}

section#share {
	background-color: #f7f7f7;
	color: #303030;
	padding: 30px 0px;
	margin-top: 0px !important;
}
section#share .socmed {
	padding-left: 30px;
}
section#share .socmed i {
	font-size: 25pt;
}
section#share .socmed > div {
	margin: 0px 5px;
}
section#share .socmed .counter {
	color: #b3b3b8;
	border: 1px solid #b3b3b8;
	width: 60px;
	height: 30px;
	text-align: center;
	border-radius: 5px;
	margin-left: 3px;
	margin-top: 2px;
	font-size: 10pt;
}


section#help {
	background-color: #00a2f3;
	color: white;
	padding: 50px 0px;
	margin-top: 0px !important;
	font-family: RobotoLight;
}
section#help .title3 div {
	margin: 10px 5px;
}
section#help .roundButton {
	width: 150px;
	margin: 0px !important;
}

section .half.image img {
	width: 100%;
}

footer {
	font-size: 10pt;
	line-height: 20pt;
}
footer .subtext {
	color: #6e6e6e;
}

footer section div.title{
	color: #767676;
	font-size: 10pt;
	text-transform: uppercase;	
	font-family: RobotoBold;
}

footer section ul {
	padding: 0px;
}
footer section ul li {
	list-style: none;	
	cursor: pointer;
}
footer section#newsletter .email {
	background-color: white;
	border-radius: 25px;
	padding: 5px;
	margin-top: 15px;
	margin-bottom: 5px;
}
footer section#newsletter .email input {
	outline: none;
	border: none;
	width: 100px;
	margin-left: 10px;
}
footer section#newsletter .email button {
	background-color: #00a2f3;
	color: #f7f7f7;
	padding: 13px;
	border-radius: 25px;	
	border: none;
	cursor: pointer;
}
footer section#social .container {
	margin-top: 15px;
	padding: 0 20px;
}
footer section#social .icon {
	width: 50px;
	height: 50px;
	border-radius: 25px;
	border: 2px solid white;
	color: white;
	font-size: 15pt;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
footer section#social .icon:hover {
	cursor: pointer;
	color: #303030;
	border-color: #303030;
	background-color: white;
	transition: all 0.2s;
}
footer section#pembayaran img {
	width: inherit;
	margin: 10px 10px 15px 0px;
}
footer section#copyright {
	margin-top: 0px !important;
}
footer section#copyright {
	width: 100%;
	font-size: 8pt;
	margin-top: 0px !important;
}
@media (max-width: 992px) {
	.flex {
		flex-wrap: wrap;
		flex-grow: 1;
	}
	header .menu {
		width: 50px;
		text-align: right;
		font-size: 20pt;
	}
	header .menu nav {
		display: none;
		position: absolute;
		right: 0;
		margin-right: 15px;
		margin-top: 5px;
		border: 1px solid black;
		background-color: white;
		transition: all 1s;
	}
	header .menu nav ul {
		margin: 0px;
		padding: 0px 15px;
	}
	header .menu nav ul li {
		display: block;
		padding: 10px 10px;
		margin: 0px;
		text-align: center;
	}
	header .menu:hover nav {
		display: block;
		transition: all 1s;
	}
	header #topInfo {
		height: inherit;
	}
	header #topInfo #kontak {
		justify-content: space-between;
		padding: 10px 0px 5px;
	}
	header #topInfo #kontak div {
		margin: 0px;
	}
	header #promo, header #kontak, header #member i {
		font-size: 9pt !important;
	}
	
	section#modules .container {
		height: 300px;
		overflow: auto;
		display: block;
		text-align: center;
		margin: 20px auto;
	}
	section#laravel .roundButton {
		margin: 10px auto 20px;
	}
	section#hosting {
		text-align: center;
	}
	section#hosting .roundButton {
		margin: 10px auto 20px;
	}
	section#share .text, section#share .socmed {
		margin: 0px auto !important;
		padding: 0px;
		text-align: center;
	}	
	section#help .title3 div {
		text-align: center;
		margin: 0px auto !important;
	}
	section#help .roundButton {
		width: 150px;
		margin: 10px auto !important;
	}
}