<html>
	<head>
		<title>Web Hosting Indonesia Unlimited dan Terbaik - Niagahoster</title>
		<link rel='icon' type='image/png' href='./assets/images/favicon.png' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' /> 
		<meta name='author' content='Kristian Indra' />
		
		<link rel='stylesheet' href='./assets/style/font.css'>
		<link rel='stylesheet' href='./assets/style/basic.css'>
		<link rel='stylesheet' href='./assets/style/style.css'>
		
		<link rel='stylesheet' href='./assets/vendor/fontawesome-free-5.15.1-web/css/all.css'>
	</head>
	<body>
		<header>
			<div id='topInfo' class='mainContainer flex flex-sb flex-wrap'>
				<div id='promo' class='flex hideOnMobile'>
					<div class='ribbon'>					
						<div id='content'>
							<i class='fas fa-tag'></i>
						</div>
					</div>
					<div class='ribbonText'>
						Gratis Ebook 9 Cara Cerdas Menggunakan Domain [ x ]
					</div>
				</div>
				<div id='kontak' class='flex'>
					<div>
						<i class='fas fa-phone-alt'></i> 0274-5305505
					</div>
					<div>
						<i class='fas fa-comments'></i> Live Chat
					</div>
					<div id='member'>
						<i class='fas fa-user-circle'></i> Member Area
					</div>
				</div>
			</div>
			<hr class='hr1'>
			<div id='mainHeader' class='mainContainer flex flex-sb'>
				<div>
					<img src='assets/images/niagahoster-logo-1024x246.png' />
				</div>
				<nav class="hideOnMobile">
					<ul>
						<li><a href='./'>Hosting</a></li>
						<li><a href='./'>Domain</a></li>
						<li><a href='./'>Server</a></li>
						<li><a href='./'>Website</a></li>
						<li><a href='./'>Afiliasi</a></li>
						<li><a href='./'>Promo</a></li>
						<li><a href='./'>Pembayaran</a></li>
						<li><a href='./'>Review</a></li>
						<li><a href='./'>Kontak</a></li>
						<li><a href='./'>Blog</a></li>
					</ul>
				</nav>
				<div class="menu showOnMobile flex flex-middle">
					<div>
						<i class="fas fa-bars"></i>
						<nav>
							<ul>
								<li><a href='./'>Hosting</a></li>
								<li><a href='./'>Domain</a></li>
								<li><a href='./'>Server</a></li>
								<li><a href='./'>Website</a></li>
								<li><a href='./'>Afiliasi</a></li>
								<li><a href='./'>Promo</a></li>
								<li><a href='./'>Pembayaran</a></li>
								<li><a href='./'>Review</a></li>
								<li><a href='./'>Kontak</a></li>
								<li><a href='./'>Blog</a></li>
							</ul>
						</nav>						
					</div>
				</div>
			</div>
			<hr class='hr1'>
		</header>
		<main class=''>
			<section id='banner' class='mainContainer flex flex-sb'>
				<div class="half text">
					<div class='title1'>PHP Hosting</div>
					<div class='title2'>
						Cepat, handal, penuh dengan modul PHP yang Anda butuhkan
					</div>
					<ul>
						<li><i class='fas fa-check-circle check'></i>Solusi PHP untuk performa query yang lebih cepat</li>
						<li><i class='fas fa-check-circle check'></i>Konsumsi memori yang lebih rendah</li>
						<li><i class='fas fa-check-circle check'></i>Support PHP 5.3, PHP 5.4, PHP 5.5, PHP 5.6, PHP 7</li>
						<li><i class='fas fa-check-circle check'></i>Fitur Enkripsi IonCube dan Zend Guard Loaders</li>
					</ul>
				</div>
				<div class="half image">
					<img src='assets/svg/illustration banner PHP hosting-01.svg'>
				</div>
			</section>
			<hr class='hr1'>
			<section id='composer' class='mainContainer'>
				<div class='flex flex-sa'>
					<div class='quarter' id='zendguard'>
						<img src='assets/svg/icon PHP Hosting_zendguard.svg' />
						<div>PHP Zend Guard Loader</div>						
					</div>
					<div class='quarter' id='composer'>
						<img src='assets/svg/icon PHP Hosting_composer.svg' />
						<div>PHP Composer</div>						
					</div>
					<div class='quarter' id='ioncube'>
						<img src='assets/svg/icon PHP Hosting_ioncube.svg' />
						<div>PHP ionCube Loader</div>						
					</div>
				</div>
			</section>
			<section id='pricing' class='mainContainer text-center'>
				<div class='title1'>Paket Hosting Singapura yang Tepat</div>
				<div class='title3'>Diskon 40% + Domain dan SSL Gratis untuk Anda</div>
			</section>
			<section id='package'>
				<div class="mainContainer flex">
					{% for paket in package %}
					<div class="paket quarter {% if paket.best == 1 %}best{% endif %}">
						{% if paket.best == 1 %}
							<div class='bestseller'><img src='assets/images/bestseller.png'></div>
						{% endif %}
						<div class="title">{{ paket.title }}</div>
						<div class="price">
							<div><strike>Rp. {{ paket.price.normal|number_format }}</strike></div>
							<div class="disc">{{ paket.price.discounted_text|raw }}</div>
						</div>
						<div class="user"><strong>{{ paket.user|number_format }}</strong> Pengguna Terdaftar</div>
						<div class="desc">
							{% for item in paket.desc %}
							<div>{{ item|raw }} </div>
							{% endfor %}
							<div class="roundButton {% if paket.best == 1 %}blue{% else %}gray{% endif %}">{{ paket.button }}</div>							
						</div>
					</div>
					{% endfor %}
				</div>
			</section>
			<section id='spec' class='mainContainer'>
				<div class='title4 text-center'>Powerful dengan Limit PHP yang Lebih Besar</div>
				<div class='flex flex-center'>
					<div class='rows'>
						<div class='oddRow flex'>
							<div class='check'><i class="fas fa-check-circle"></i></div>
							<div class='text'>max execution time 300s</div>
						</div>
						<div class='evenRow flex'>
							<div class='check'><i class="fas fa-check-circle"></i></div>
							<div class='text'>max execution time 300s</div>
						</div>
						<div class='oddRow flex'>
							<div class='check'><i class="fas fa-check-circle"></i></div>
							<div class='text'>php memory limit 1024 MB</div>
						</div>
					</div>
					<div class='rows'>
						<div class='evenRow flex'>
							<div class='check'><i class="fas fa-check-circle"></i></div>
							<div class='text'>post max size 128 MB</div>
						</div>
						<div class='oddRow flex'>
							<div class='check'><i class="fas fa-check-circle"></i></div>
							<div class='text'>upload max filesize 128 MB</div>
						</div>
						<div class='evenRow flex'>
							<div class='check'><i class="fas fa-check-circle"></i></div>
							<div class='text'>max input vars 2500</div>
						</div>
					</div>
				</div>
			</section>
			<hr class='hr2' />
			<section id='features' class='mainContainer text-center'>
				<div class='title4 text-center'>Semua Paket Hosting Sudah Termasuk</div>
				<div class='flex flex-sb'>
					<div class='item'>
						<img src='assets/svg/icon PHP Hosting_PHP Semua Versi.svg'>
						<div class='title'>PHP Semua Versi</div>
						<div class='text'>Pilih mulai dari versi PHP 5.3 s/d PHP 7.<br>Ubah sesuka Anda!</div>
					</div>
					<div class='item'>
						<img src='assets/svg/icon PHP Hosting_My SQL.svg'>
						<div class='title'>MySQL Versi 5.6</div>
						<div class='text'>Nikmati MySQL versi terbaru, tercepat dan kaya akan fitur.</div>
					</div>
					<div class='item'>
						<img src='assets/svg/icon PHP Hosting_CPanel.svg'>
						<div class='title'>Panel Hosting cPanel</div>
						<div class='text'>Kelola website dengan panel canggih yang familiar di hati Anda.</div>
					</div>
				</div>
				<div class='flex flex-sb'>
					<div class='item'>
						<img src='assets/svg/icon PHP Hosting_garansi uptime.svg'>
						<div class='title'>Garansi Uptime 99.9%</div>
						<div class='text'>Data center yang mendukung kelangsungan website Anda 24/7.</div>
					</div>
					<div class='item'>
						<img src='assets/svg/icon PHP Hosting_InnoDB.svg'>
						<div class='title'>Database InnoDB Unlimited</div>
						<div class='text'>Jumlah dan ukuran database yang tumbuh sesuai kebutuhan Anda.</div>
					</div>
					<div class='item'>
						<img src='assets/svg/icon PHP Hosting_My SQL remote.svg'>
						<div class='title'>Wildcard Remote MySQL</div>
						<div class='text'>Mendukung s/d 25 max_user_connections dan 100 max_connections.</div>
					</div>					
				</div>
			</section>
			<hr class='hr2' />
			<section id='laravel' class='mainContainer'>
				<div class='title4 text-center'>Mendukung Penuh Framework Laravel</div>
				<div class='flex flex-sb'>
					<div class="half text">
						Tak perlu menggunakan dedicated server ataupun VPS yang mahal. Layanan PHP hosting murah kami mendukung penuh framework favorit Anda.
						<ul>
							<li><i class="fas fa-check-circle"></i> Install Laravel <strong>1 klik</strong> dengan Softaculous Installer</li>
							<li><i class="fas fa-check-circle"></i> Mendukung ekstensi <strong>PHP MCrypt, phar, mbstring, json,</strong> dan <strong>fileinfo.</strong></li>
							<li><i class="fas fa-check-circle"></i> Tersedia <strong>Composer</strong> dan <strong>SSH</strong> untuk menginstall packages pilihan Anda.</li>
						</ul>
						<p>Nb. Composer dan SSH hanya tersedia pada paket Personal dan Bisnis.</p>
						<div class="roundButton blue">Pilih Hosting Anda</div>
					</div>
					<div class="half image">
						<img src="assets/svg/illustration banner support laravel hosting.svg">
					</div>
				</div>
			</section>
			<hr class='hr1' />
			<section id='modules' class='mainContainer'>
				<div class='title4 text-center'>Modul Lengkap untuk Menjalankan Aplikasi PHP Anda.</div>			
				<div class='flex-sb container'>
					<div>
						{% for item in ext1 %}
						<div>{{ item }}</div>
						{% endfor %}
					</div>
					<div>
						{% for item in ext2 %}
						<div>{{ item }}</div>
						{% endfor %}
					</div>
					<div>
						{% for item in ext3 %}
						<div>{{ item }}</div>
						{% endfor %}
					</div>
					<div>
						{% for item in ext4 %}
						<div>{{ item }}</div>
						{% endfor %}
					</div>					
				</div>
				<div class="roundButton gray">
					Selengkapnya
				</div>
			</section>
			<section id='hosting' class='mainContainer flex flex-sb'>
				<div class="flex flex-sb">
					<div class="half">
						<div class='title4'>
							Linux Hosting yang Stabil dengan Teknologi LVE						
						</div>
						<div class="text">
							SuperMicro <strong>Intel Xeon 24-Cores</strong> server dengan RAM <strong>128 GB</strong> dan teknologi <strong>LVE CloudLinux</strong> untuk stabilitas server Anda. Dilengkapi dengan <strong>SSD</strong> untuk kecepatan <strong>MySQL</strong> dan caching, Apache load balancer berbasis LiteSpeed Technologies, <strong>CageFS</strong> security, <strong>Raid-10</strong> protection dan auto backup untuk keamanan website PHP Anda.
						</div>
						<div class='roundButton blue'>
							Pilih Hosting Anda
						</div>							
					</div>
					<div class="half image">
						<img src='./assets/images/Image support.png' />
					</div>
				</div>
			</section>
			<section id='share'>
				<div class='mainContainer flex flex-sb'>
					<div class="text flex flex-middle half">
						Bagikan jika Anda menyukai halaman ini.
					</div>
					<div class="socmed flex half">
						<div class="flex">
							<i class="fab fa-facebook-square" style="color: #23599b"></i>
							<div class='counter flex flex-middle'>80k</div>
						</div>
						<div class="flex">
							<i class="fab fa-twitter-square" style="color: #00aef1"></i>
							<div class='counter flex flex-middle'>450</div>
						</div>
						<div class="flex">
							<i class="fab fa-google-plus-square" style="color: #fc4a35"></i>
							<div class='counter flex flex-middle'>1900</div>
						</div>
					</div>
				</div>
			</section>
			<section id='help' class='flex flex-sb'>
				<div class='mainContainer flex flex-sb'>
					<div class='title3 flex'><div>Perlu <strong>BANTUAN</strong>?</div><div>Hubungi Kami: <strong>0274 - 5305505</strong></div></div>
					<div class='divider hideOnMobile'>&nbsp;</div>
					<div class='roundButton blue2'>
						<i class="fas fa-comments"></i> Live Chat
					</div>
				</div>
			</section>
		</main>
		<footer>
			<div class='mainContainer flex flex-sb'>
				<section class="quarter">
					<div class='title'>Hubungi Kami</div>
					<div>
					<p>
						0274-5305505<br>
						Senin - Minggu<br>
						24 Jam Nonstop<br>
						<br>
						Jl. Selokan Mataram Monjali<br>
						Karangjati MT I/304<br>
						Sinduadi, Mlati, Sleman<br>
						Yogyakarta 55284<br>
					</p>
					</div>
				</section>
				<section class="quarter">
					<div class='title'>Layanan</div>
					<div>
						<ul>
							<li>Domain</li>
							<li>Shared Hosting</li>
							<li>Cloud VPS Hosting</li>
							<li>Managed VPS Hosting</li>
							<li>Web Builder</li>
							<li>Keamanan SSL / HTTPS</li>
							<li>Jasa Pembuatan Website</li>
							<li>Program Affiliasi</li>
						</ul>
					</div>
				</section>
				<section class="quarter">
					<div class='title'>Service Hosting</div>
					<div>
						<ul>
							<li>Hosting Murah</li>
							<li>Hosting Indonesia</li>
							<li>Hosting Singapura SG</li>
							<li>Hosting PHP</li>
							<li>Hosting Wordpress</li>
							<li>Hosting Laravel</li>
						</ul>
					</div>
				</section>
				<section class="quarter">
					<div class='title'>Tutorial</div>
					<div>
						<ul>
							<li>Knowledgebase</li>
							<li>Blog</li>
							<li>Cara Pembayaran</li>
						</ul>
					</div>
				</section>
			</div>
			<div class='mainContainer flex flex-sb'>
				<section class="quarter">
					<div class='title'>Tentang Kami</div>
					<div>
						<ul>
							<li>Tim Niagahoster</li>
							<li>Karir</li>
							<li>Events</li>
							<li>Penawaran & Promo Spesial</li>
							<li>Kontak Kami</li>
						</ul>
					</div>
				</section>
				<section class="quarter">
					<div class='title'>Kenapa Pilih Niagahoster?</div>
					<div>
						<ul>
							<li>Support Terbaik</li>
							<li>Garansi Harga Termurah</li>
							<li>Domain Gratis Selamanya</li>
							<li>Datacenter Hosting Terbaik</li>
							<li>Review Pelanggan</li>
						</ul>
					</div>
				</section>
				<section class="quarter" id="newsletter">
					<div class='title'>Newsletter</div>
					<div class="email flex flex-sb">
						<input type="email" placeholder="Email" />
						<button>Berlangganan</button>
					</div>
					<div class="subtext">
						Dapatkan promo dan konten menarik dari penyedia hosting terbaik Anda.
					</div>
				</section>
				<section class="quarter" id="social">
					<div class='title'>&nbsp;</div>
					<div class="container flex flex-sb">
						<div class="icon"><i class='fab fa-facebook-f'></i></div>
						<div class="icon"><i class='fab fa-twitter'></i></div>
						<div class="icon"><i class="fab fa-google-plus-g"></i></div>
					</div>
				</section>
			</div>
			<section id="pembayaran">
				<div class='mainContainer'>
					<div class='title'>Pembayaran</div>
					<div class="flex flex-wrap">
						<img src='assets/images/pembayaran-bca.png' />
						<img src='assets/images/pembayaran-mdr.png' />
						<img src='assets/images/pembayaran-bni.png' />
						<img src='assets/images/pembayaran-visa.png' />
						<img src='assets/images/pembayaran-mc.png' />
						<img src='assets/images/pembayaran-atm.png' />
						<img src='assets/images/pembayaran-permata.png' />
						<img src='assets/images/pembayaran-prima.png' />
						<img src='assets/images/pembayaran-alto.png' />
					</div>
					<div class="subtext">Aktivasi instan dengan e-Payment, Hosting dan domain langsung aktif!</div>
				</div>
			</section>
			<section id="divider">
				<div class="mainContainer">
					<hr class="hr3" />
				</div>
			</section>
			<section id="copyright">
				<div class="mainContainer flex flex-sb" >
					<div>
						<div>Copyright @2016 Niagahoster | Hosting powered by PHP7, CloudLinux, CloudFlare, BitNinja and DC Biznet Technovillage Jakarta</div>
						<div>Cloud VPS Murah powered by Webuzo Softaculous, Intel SSD and cloud computing technology</div>
					</div>
					<div><a href="">Syarat dan Ketentuan</a> | <a href="">Kebijakan Privasi</a> </div>
				</div>
			</section>
		</footer>
	</body>
</html>